# Python
venv/
blindenv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# OS
.DS_Store
Thumbs.db

# Model weights
*.pt
*.onnx
*.tflite
*.pb
*.engine
*.TRT
*.weights

# Checkpoints / training logs
runs/
logs/
checkpoints/

# Images / videos (generated or testing)
*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.avi
*.mp4
*.mov

# Jupyter / IPython
.ipynb_checkpoints/
*.ipynb

# IDE / Editor
.vscode/
.idea/

# Cache
.cache/
*.cache
